<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<h2>Panel Administrador</h2>
<div class="tab-panel">
    <tabset class="member-tabset">
        <tab heading='Administracion de usuarios' *appHasRole='["Admin"]'>
            <div class="container">
                    <app-user-management></app-user-management>
            </div>

        </tab>

        <tab heading='Administracion de fotos' *appHasRole='["Admin", "Moderator"]'>
            <div class="container">
                    <app-photo-management></app-photo-management>
            </div>

        </tab>
    </tabset>
</div>
</main>