<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div class="row" *ngIf="member">
    <div class="col-4">
        <h1>Tu perfil</h1>
    </div>
    <div class="col-8">
        <div class="alert alert-info" *ngIf="editForm.dirty">
            <strong>Nota: </strong>Realizaste cambios. Los cambios no guardados se perderan
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top img-thumbnail">
            <div class="card-body">
                 <div>
                     <strong>Localidad:</strong>
                     <p>{{member.city}}, {{member.country}}</p>
                 </div>
                 <div>
                     <strong>Edad:</strong>
                     <p>{{member.age}}</p>
                 </div>  
                 <div>
                     <strong>Ultima vez activo/a:</strong>
                     <p>{{member.lastActive | timeago}}</p>
                 </div> 
                 <div>
                     <strong>Miembro desde:</strong>
                     <p>{{member.created | date: 'dd MMM yyyy'}}</p>
                 </div>       
            </div>
             <div class="card-footer">

                <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Guardar cambios</button>
                 
             </div>
 
        </div>
    </div> 
 
    <div class="col-8">
        <tabset class="member-tabset">
             <tab heading='Acerca de {{member.knownAs}}'>
                 <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
                    <h4>Descripcion</h4>
                    <textarea class="form-control" [(ngModel)]="member.introduction" name="introduction" rows="6"></textarea>
                    <h4 class="mt-2">Intereses</h4>
                    <textarea class="form-control" [(ngModel)]="member.interests" name="interests" rows="6"></textarea>
                    <h4 class="mt-2">Detalles de localidad</h4>
                    <div class="form-inline">
                        <label for="city">Ciudad: </label>
                        <input class="form-control" [(ngModel)]="member.city" type="text" name="city" class="form-control mx-2">
   
                        <label for="country">Pais: </label>
                        <input class="form-control" [(ngModel)]="member.country" type="text" name="country" class="form-control mx-2">
                    </div>
                 </form>
                 
             </tab>
             <tab heading='Editar Fotos'>
                 <app-photo-editor [member]="member"></app-photo-editor>
             </tab>
             
 
        </tabset>
    </div>
 
 </div>
 
</main>