
<header class="navbar navbar-dark bg-dark fixed-top flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" routerLink='/' routerLinkActive='active'>Akusesu</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="navbar-nav fixed-top" >
    <div class="nav-item text-nowrap">
        

    

    </div>
    
  </div>

  <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>

    <button mat-icon-button class="blue-color"
    (click)="toggleTheme()" 
    matTooltip="Toggle theme"
    attr.aria-label="Cambiar {{ isDark ? 'claro' : 'oscuro' }} tema"
    color="primary">
    <mat-icon>brightness_medium</mat-icon>
</button>


    <img class="rounded-circle" src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">

    <a class="dropdown-toggle text-light ml-2" dropdownToggle>Bienvenido/a {{user.knownAs || user.username | titlecase}}!</a>
    <div class="dropdown-menu mt-3" *dropdownMenu>

        <a routerLink='/member/edit' class="dropwdown-item">Modificar Perfil</a>

        <div class="dropdown-divider"></div>

        <a class="dropwdown-item" (click)="logout()" >Salir</a>
    </div>
</div>

  <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
    <input 
        name="username"
        [(ngModel)]="model.username"
    
        class="form-control mr-sm-2" 
        type="text" 
        placeholder="Usuario">
    <input 
        name="password"
        [(ngModel)]="model.password"
    
        class="form-control mr-sm-2" 
        type="password" 
        placeholder="Clave">
    <button class="btn btn-success my-2 my-sm-0" type="submit">Ingresar</button>
    
    </form>

  </header>
    
<div class="container-fluid">
  <div class="row">


    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse position-fixed">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink='/courses' routerLinkActive='active'>
              <span data-feather="home"></span>
              Cursos Disponibles
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink='/messages' routerLinkActive='active'>
              <span data-feather="shopping-cart"></span>
              Mensajes
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink='/enroll' routerLinkActive='active'>
              <span data-feather="shopping-cart"></span>
              Mis cursos
            </a>
          </li>
          
          
          <li class="nav-item">
            <a class="nav-link"routerLink='/member/edit' routerLinkActive='active'>
              <span data-feather="layers"></span>
              Mi cuenta
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">

          

          <span *appHasRole='["Admin","Instructor"]'>Instructor/Admin</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li *appHasRole='["Admin","Instructor"]' class="nav-item">
            <a *appHasRole='["Admin","Instructor"]' class="nav-link" routerLink='/addCourse' routerLinkActive='active'>
              <span data-feather="file-text"></span>
              Crear Curso
            </a>
          </li>
          
          <li *appHasRole='["Admin"]' class="nav-item">
            <a  *appHasRole='["Admin"]' class="nav-link" routerLink='/admin' routerLinkActive='active'>
              <span data-feather="file-text"></span>
              Admin Panel
            </a>
          </li>
          <li *appHasRole='["Admin","Instructor"]' class="nav-item">
            <a *appHasRole='["Admin","Instructor"]' class="nav-link" routerLink='/instructor' routerLinkActive='active'>
              <span data-feather="file-text"></span>
              Instructor Panel
            </a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</div>







          
