<div class="card mb-4">
    <div class="card-img-wrapper">
        <img src="{{course.coursePhotourl || './assets/course.jpg'}}" alt="{{course.name}}" class="card-img-top">
        <ul class="list-inline course-icons animate text-center">
            <li class="list-inline-item"><button routerLink='/courses/{{course.name}}' class="btn btn-primary"><i class="fa fa-book"></i></button></li>
            <li class="list-inline-item"><button (click)="addCourse(course)" class="btn btn-primary"><i class="fa fa-bookmark"></i></button></li>
            <li class="list-inline-item">
                <button 
                    class="btn btn-primary">
                    <i class="fa fa-envelope"></i>
                </button>
            </li>
        </ul>
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1">
                <span>
                <i class="fa fa-clock mr-2">{{course.duration}} semana/s</i>
                <i class="fa fa-school mr-2">{{course.institution}}</i>
                </span>
            
            {{course.name}}
        </h6>
        <p class="card-text text-muted text-center">{{course.category}}</p>
    </div>
</div>


