<main class="col-md-9 ms-sm-auto col-lg-10 px-md-20">
<form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && register()" autocomplete="off">
        <h2 class="text-center text-primary">Formulario de registro</h2>
        <hr>

        <div class="form-group">
            <label class="control-label" style="margin-right: 10px">Soy un: </label>
            <label class="radio-inline">
                <input type="radio" value='male' formControlName='gender'> Hombre
            </label>
            <label class="radio-inline">
                <input type="radio" value='female' formControlName='gender' class="ml-3"> Mujer
            </label>
        </div>
        <strong>Nombre de usuario:</strong>
        <app-text-input [formControl]='registerForm.controls["username"]' [label]='"Usuario"'></app-text-input>
        <strong>Nickname o apodo:</strong>
        <app-text-input [formControl]='registerForm.controls["knownAs"]' [label]='"Apodo"'></app-text-input>
        <strong>Fecha de nacimiento:</strong>
        <app-date-input [formControl]='registerForm.controls["dateOfBirth"]' [label]='"Fecha de nacimiento"' [maxDate]='maxDate'></app-date-input>
        <strong>Ciudad:</strong>
        <app-text-input [formControl]='registerForm.controls["city"]' [label]='"Ciudad"'></app-text-input>
        <strong>Pais:</strong>
        <app-text-input [formControl]='registerForm.controls["country"]' [label]='"Pais"'></app-text-input>
        <strong>Contraseña:</strong>
        <app-text-input [formControl]='registerForm.controls["password"]' [label]='"Contraseña"' [type]='"password"'></app-text-input>
        <strong>Confirmación de la contraseña:</strong>
        <app-text-input [formControl]='registerForm.controls["confirmPassword"]' [label]='"Confirmacion de contraseña"' [type]='"password"'></app-text-input>
        <!--
        <div class="form-group">
            <input 
                [class.is-invalid]='registerForm.get("username").errors && registerForm.get("username").touched'
                type="text" 
                class="form-control" 
                formControlName='username'
            placeholder="Nombre de usuario">
            <div class="invalid-feedback">Por favor ingrese su nombre de usuario</div>
        </div>


        <div class="form-group">
            <input 
                [class.is-invalid]='registerForm.get("password").errors && registerForm.get("password").touched'
                type="password" 
                class="form-control" 
                formControlName='password'
                placeholder="Contraseña">
                <div *ngIf="registerForm.get('password').hasError('required')" class="invalid-feedback">Por favor ingrese su contraseña</div>
                <div *ngIf="registerForm.get('password').hasError('minlength')" class="invalid-feedback">La contraseña debe tener al menos 4 caracteres</div>
                <div *ngIf="registerForm.get('password').hasError('maxlength')" class="invalid-feedback">La contraseña deber ser de maximo 8 caracteres</div>
        </div>

        <div class="form-group">
            <input 
                [class.is-invalid]='registerForm.get("confirmPassword").errors && registerForm.get("confirmPassword").touched'
                type="password" 
                class="form-control" 
                formControlName='confirmPassword'
                placeholder="Confirmar contraseña">
                <div *ngIf="registerForm.get('confirmPassword').hasError('required')" class="invalid-feedback">Por favor confirme su contraseña</div>
                <div *ngIf="registerForm.get('confirmPassword').hasError('isMatching')" class="invalid-feedback">La confirmacion debe coincidir con la contraseña</div>
        </div>
            -->
            <div class="row" *ngIf="validationErrors.length > 0">
                <ul class="text-danger">
                    <li *ngFor="let error of validationErrors" >
                        {{error}}
                    </li>
                </ul>
            </div>


        <div class="form-group text-center">
            <button [disabled]='!registerForm.valid' class="btn btn-success mr-2" type="submit">Registrarse</button>
            <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
        </div>

</form>
</main>
<!--
<p>Form value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status | json}}</p>
-->